# =========================
# ROOT NODE MODULES
# =========================
node_modules/

# =========================
# FRONTEND
# =========================
frontend/node_modules
frontend/build

# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
venv/
env/

# =========================
# ENVIRONMENT FILES
# =========================
.env

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# EXCEL DATABASE
# =========================
backend/portfolio.xlsx